.mobile {
    /*margin: 50px auto;*/
    /*width: 100%;*/
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #a8bcf5;
    position: absolute;
    /*解决内容撑大的问题*/
    overflow: hidden;
}

.header {
    position: absolute;
    margin-left: 10%;
    margin-top: 30px;
    width: 80%;
    height: 100px;
    /*background-color: white;*/
    font-size: 30px;
    color: #fff;
    z-index: 2;
}

.sidebar {}

.sidebar.active .sidebar-content,
.sidebar.active .sidebar-overlay {
    transform: translateX(0);
}

.sidebar-overlay {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    position: absolute;
    opacity: 0.5;
    z-index: 5;
    transform: translateX(-100%);
    transition: all .5s ease-in-out 0s;
}

.sidebar-content {
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: white;
    z-index: 100;
    font-size: 20px;
    padding: 30px;
    transform: translateX(-100%);
    transition: all .3s ease-in-out 0s;
}

.nav-left {
    position: absolute;
    top: 150px;
    line-height: 50px;
}

.nav-left a {
    display: block;
}

.nav-left span {
    font-size: 30px;
    padding: 10px;
}

.nav {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: #f23363;
    line-height: 50px;
    border-radius: 50%;
    transition: all .1s ease-in-out 0s;
}

.nav:after {
    position: absolute;
    content: '';
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 50px;
    background-color: #f23363;
    line-height: 50px;
    border-radius: 50%;
    transition: all .1s ease-in-out 0s;
    z-index: 2;
}

.musk {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    transition: all .3s cubic-bezier(.68, 1.55, .265, 1);
    text-align: center;
    z-index: 4;
}

.nav.active .musk {
    background: #cf0e3f;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


/*实现增加属性后 动画*/


/*用after 实现的是 背景动的效果*/

.nav.active:after {
    /*position: absolute;
    content: '';*/
    right: -150px;
    bottom: -150px;
    width: 350px;
    height: 350px;
    /*background-color: #f23363;
    line-height: 50px;
    border-radius: 50%;
    z-index: 1;*/
}

.nav-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 30px;
    transition: all .3s cubic-bezier(.68, 1.55, .265, 1);
    text-align: center;
    z-index: 1;
}

.nav-item:hover {}

.nav.active .nav-item {
    z-index: 3;
}

.nav.active .nav-count-1 {
    transform: translate(10px, -130px);
}

.nav.active .nav-count-2 {
    transform: translate(-50px, -110px)
}

.nav.active .nav-count-3 {
    transform: translate(-110px, -50px)
}

.nav.active .nav-count-4 {
    transform: translate(-130px, 10px)
}
